* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: black;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 2px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

body::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 2px;
}


/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc;
}

.container {
    width: 1510px;
    max-width: 100%;
    margin: 0 auto;
}


/* @media only screen and (max-width: 1850px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
} */

@media only screen and (max-width: 1850px) {
    .container {
        width: 100%;
        padding: 0 50px;
        margin: unset;
    }
}

@media only screen and (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}